{% extends "base/base.html" %}

{% block page_css %}

{% endblock %}

{% block container %}
    <div style="padding: 15px;margin: 0 15px">
        <div class="layui-row">
            <div class="pull-right">
                <div class="layui-inline">
                    <input class="layui-input" name="search_info" id="search_info" autocomplete="off"
                           placeholder="模糊搜索">
                </div>
                <button type="submit" class="layui-btn" data-type="reload" id="search">搜索</button>
            </div>
        </div>

        <div class="layui-row">
            <table class="layui-hide" id="alert-table"></table>
        </div>
    </div>
{% endblock %}

{% block page_javascript %}
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#alert-table'
                , skin: 'nob'
                , even: false
                , size: 'lg'
                , height: 850
                , url: '/v1/alert/table/alerts/'
                , method: 'get'
                , request: {
                    pageName: 'pageIndex',  // 页码的参数名称，默认：page
                    limitName: 'pageSize',   // 每页数据量的参数名，默认：limit
                    search_info: 'search_info', //模糊查询字段
                },
                response: {
                    statusName: 'code',     // 规定数据状态的字段名称，默认：code
                    statusCode: 0,          // 规定成功的状态码，默认：0
                    msgName: 'msg',         // 规定状态信息的字段名称，默认：msg
                    countName: 'DataCount', // 规定数据总数的字段名称，默认：count
                    dataName: 'data'        // 规定数据列表的字段名称，默认：data
                }
                , cols: [[
                    {field: 'alertname', width: 300, title: '告警名称', sort: true, }
                    , {field: 'status', width: 100, title: '状态', sort: true, align: 'center'}
                    , {field: 'severity', width: 100, title: '级别', sort: true, align: 'center'}
                    , {field: 'ip', width: 150, title: 'IP', sort: true, align: 'center'}
                    , {field: 'port', width: 80, title: 'PORT', sort: true, align: 'center'}
                    , {field: 'env', width: 80, title: '环境', sort: true, align: 'center'}
                    , {field: 'idc', width: 80, title: '机房', sort: true, align: 'center'}
                    , {field: 'business', width: 120, title: '业务', sort: true, align: 'center'}
                    , {field: 'description', width: 135, title: '告警详情', sort: true, align: 'center'}
                    , {field: 'sendtime', width: 135, title: '推送时间', sort: true, align: 'center'}
                    , {field: 'startsAt', width: 135, title: '开始时间', sort: true, align: 'center'}
                    , {field: 'endsAt', width: 135, title: '结束时间', sort: true, align: 'center'}
                    , {field: 'caltime', width: 135, title: '异常时间', sort: true, align: 'center'}
                ]]
                , page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],     // 自定义分页布局
                    curr: 1,      // 设置默认起始页1
                    groups: 10,   //只显示10个连续页码,就是说显示10个可见页其他的省略
                    first: '首页', // 不显示首页
                    last: '尾页'   // 不显示尾页
                },
                limit: 20,
                limits: [10, 20, 30, 40, 50, 100],
                id: 'reload',
            });
            var $ = layui.$, active = {
                reload: function () {
                    var search_info = $('#search_info');
                    //执行重载
                    table.reload('reload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            search_info: search_info.val(),//逗号隔开
                        }
                    }, 'data');
                }
            };
            $('#search').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
{% endblock %}
